gensim==3.4.0
jupyter==1.0.0
jupyterlab==0.35.4
Keras==2.2.4
Keras-Applications==1.0.7
keras-metrics==1.1.0
Keras-Preprocessing==1.0.9
matplotlib==3.0.3
numpy==1.16.2
opencv-python==4.2.0.32
pandas==0.24.2
plotly==4.0.0
progressbar2==3.37.1
scikit-learn==0.20.3
scipy==1.2.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0